/**
 * @file Do "default" styles
 */

#do_overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.85;
  z-index: 9997;
  display: none;
}

#do_modal {
  margin: 240px auto 0 auto;
  width: 400px;
  z-index: 9998;
}

#do_input {
  height: 40px;
  padding: 5px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 374px;
  font-size: 28px;
  font-family: Palatino, Helvetica, Georgia, serif;
  z-index: 9999;
  color: #234260;
  font-weight: 300;
  background-color: #fff;
  border: 0 none;
  opacity: 1;
  -moz-box-shadow: 0 0 4px #fff;
  -webkit-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 4px #fff;
}
